<h1>Card</h1>
<hr>

<div id="card">

{{#if items.length}}
  <table>
    <thead>
      <tr>
        <th>Item's title</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

{{#each items}}
      <tr>
        <td>{{title}}</td>
        <td>{{count}}</td>
        <td>
          <button class="btn btn-small js-remove" data-id="{{id}}">Remove item</button>
        </td>
      </tr>
{{/each}}

    </tbody>
  </table>

<p>
  <strong>Price:</strong> 
  <span class="price">{{price}}</span>
</p>
<form action="/orders" method="POST">
  <button type="submit" class="btn">Make order</button>
</form>

{{else}}
<h5>Card is empty</h5>
{{/if}}

</div>